h1 {
    color: 2ca20b;
    font-family: cursive;
}

h2 {
    color: #54123f;
    font-family: cursive;
}

h3 {
    color: #54123f;
    font-family: cursive;
}

p li {
    color: purple;
    font-family: fantasy;
}

#heading {
    font-family: cursive;
    color: purple;

}

main > img {
  height: 200px;
  width: 1330px;
}

img {
    height: 180px;
    width: 1350px;
}

body {
    background-color: #c0cfbc;
}

#top #bio {
    font-style: oblique;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

img {
  height: 200px;
  width: 200px;
}

footer > p {
  font-family: cursive;
  color: #541d12
}
